@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Start globale stilregler */

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: Montserrat, sans-serif;
	font-size: calc(1em + 1vw);
}

img {
	max-width: 100%;
}

/* Slutt globale stilregler */

/* Start stilregler for header og nav */

header {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	border-bottom: 1px solid #232323;

	#logo {
		font-family: Inter;
		font-weight: 900;
		font-size: 1.5rem;
		letter-spacing: -2px;
	}
	ul {
		display: none;
	}
}
